.project-board {
  padding: 1rem;
}

.project-board__column-list {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.project-board__column {
  width: 240px;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: whitesmoke;
}

.board-column__task-list {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  list-style: none;
}

.task-card {
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: white;
}
